.btn {
  color: var(--color-black);
  font-size: 1.6rem;
  padding: 1.5rem;
  background-color: var(--color-white);
  transition: all .2s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:link, &:visited {
    text-decoration: none;
  }

  &:hover {
    background-color: var(--color-grey-light);
    transform: translateY(-.3rem);
  }

  &:active {
    transform: translateY(0);
  }
}