.home-content {
  color: var(--color-grey-dark);
  background-color: var(--color-grey-light);
  display: flex;
  justify-content: center;
  height: 100%;

  &__container {
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.heading {
  // line-height: 1rem;

  &__primary {
    font-size: 3rem;
    margin: 0;
  }

  &__presentation {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 3rem;
  }

  &__text {
    font-size: 1.6rem;
  }
}

.in-touch {
  display: flex;

  & > *:not(:last-child) {
    margin-right: 1.5rem;
  }

  & > *:last-child > svg {
    transition: color .2s ease-in-out;
  }

  & > *:hover:last-child > svg {
    color: #0077B5;
  }
}

.link-text {
  margin-left: .5rem;
}