.section-work {
  color: var(--color-grey-dark);
  background-color: var(--color-bg-grey);
  display: flex;
  justify-content: center;
  height: 100%;

  &__container {
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}